.periodic-table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  min-width: 786px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: background-color 200ms ease, -webkit-transform 100ms ease;
  transition: background-color 200ms ease, -webkit-transform 100ms ease;
  transition: transform 100ms ease, background-color 200ms ease;
  transition: transform 100ms ease, background-color 200ms ease, -webkit-transform 100ms ease;
}

.row-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  margin-top: 8vh;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.element {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 5vw;
  height: 9vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: #e2dfdf;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.element:hover {
  z-index: 2;
}

.element.orange {
  background-color: hsla(26.153846153846146, 100.00%, 84.71%, 1.00);
}

.element.yellow {
  background-color: hsla(52.499999999999986, 100.00%, 92.16%, 1.00);
}

.element.green {
  background-color: hsla(86.34146341463415, 100.00%, 91.96%, 1.00);
}

.element.lavender {
  background-color: hsla(279.375, 100.00%, 93.73%, 1.00);
}

.element.dark-orange {
  background-color: hsla(34.871794871794876, 100.00%, 77.06%, 1.00);
}

.element.gray {
  background-color: #f2f2f2;
}
/*
.element._8-6 {
  background-color: hsla(355.7142857142857, 88.24%, 46.67%, 1.00);
  color: #fff;
}

.element._6-4 {
  background-color: hsla(350.2325581395349, 76.11%, 44.31%, 1.00);
  color: #fff;
}

.element._4-2 {
  background-color: hsla(344.38356164383566, 67.59%, 42.35%, 1.00);
  color: #fff;
}

.element._2-0 {
  background-color: hsla(329.4230769230769, 52.00%, 39.22%, 1.00);
  color: #fff;
}
*/
.element.current-element {
  border-width: 3px;
  border-color: #fff;
  background-color: hsla(211.19047619047618, 100.00%, 49.41%, 1.00);
  font-family: 'IBM Plex Sans', sans-serif;
  color: #fff;
  font-weight: 600;
}

.white-text {
  color: #fff;
}
/*
.element._0-2 {
  background-color: hsla(265.7142857142857, 35.16%, 42.94%, 1.00);
  color: #fff;
}

.element._6-8 {
  background-color: hsla(217.25274725274724, 71.65%, 49.80%, 1.00);
  color: #fff;
}

.element._8-1 {
  background-color: hsla(211.19047619047618, 100.00%, 49.41%, 1.00);
  color: #fff;
}

.element._4-6 {
  background-color: hsla(222.32876712328766, 57.94%, 49.41%, 1.00);
  color: #fff;
}
*/
.element-number {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1vh;
  line-height: 8px;
}

.element-abbr {
  margin-top: 6px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 3vh;
  line-height: 2vw;
  font-weight: 200;
}

.row-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.element-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.row-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.full-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
}

.blank-element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 5vw;
  height: 9vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-width: 1px;
  border-color: #e2dfdf;
  color: #000;
  text-decoration: none;
}

.spacer {
  height: 2vh;
}

.right-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.info-top {
  position: absolute;
  left: 15vw;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 2;
  overflow: hidden;
  width: 50vw;
  max-height: 41vh;
  padding: 5vh 24px 24px 32px;
  text-decoration: none;
}

.h1 {
  margin-top: 10vh;
  margin-bottom: 2vh;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 5vh;
  line-height: 4vw;
  text-decoration: none;
}

.legend-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 0.8vw;
  line-height: 1.8vh;
  text-align: center;
}

.legend-grad {
  height: 3vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  background-image: -webkit-gradient(linear, left top, right top, from(red), to(#007afd));
  background-image: linear-gradient(90deg, red, #007afd);
}

.legend-number-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 1vw;
  padding-left: 1vw;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bold-text {
  line-height: 1vw;
}

.use-desktop {
  display: none;
}

.nav {
  position: fixed;
  z-index: 100;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 16px;
  padding-left: 16px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.text-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 17px 8px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #007afd;
  font-size: 0.8vw;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.text-links:hover {
  text-decoration: underline;
}

.text-link-icon {
  width: 0.6vw;
  height: 0.6vw;
  margin-right: 8px;
  margin-left: 8px;
}

.cluster-table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 5vw;
  min-width: 786px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.cluster-table-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-justify-content: flex-start;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
}

.cluster-table-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-shrink: 0;
  width: 200px;
  height: auto;
  padding: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #f3f1f1;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.cluster-size-label {
  min-width: 100px;
  max-width: 100px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 32px;
  line-height: 32px;
  font-weight: 200;
  text-align: center;
}

.cluster-img {
  width: 100%;
  height: 100%;
  margin-bottom: 8px;
}

.pcc-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 13vw;
  margin-right: 2vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.header-sub {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.h1-link {
  color: #000;
  text-decoration: none;
}

.h1-link:hover {
  color: #007afd;
  text-decoration: underline;
}

.col-numbers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.num-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 5vw;
  height: 9vh;
  padding-bottom: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #000;
  font-size: 10px;
  line-height: 12px;
  text-decoration: none;
}

.num-box:hover {
  z-index: 2;
}

.col-num-spacer {
  height: 1px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.col-num-top {
  position: absolute;
  left: 0%;
  top: -16px;
  right: 0%;
  bottom: auto;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
}

.overlay {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 80;
  display: none;
  padding-top: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .8);
}

.overlay-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 80%;
  max-height: 1000px;
  max-width: 1000px;
  min-width: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
}

.overlay-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding-right: 32px;
  padding-left: 32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.overlay-close {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.visualization-wrapper {
  margin: 32px;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.element-grid {
  height: 100vh;
  padding-top: 120px;
  padding-bottom: 40px;
}

.el-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.el-col.el-col-max100 {
  max-height: 100vh;
}

.el-visual {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 24px 72px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px solid #007afd;
}

.el-lib-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 56px;
  margin-top: 12px;
  margin-bottom: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #007afd;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.el-lib-links:hover {
  border: 2px solid #007afd;
  background-color: #fff;
  color: #007afd;
}

.el-stat-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.el-stat-value {
  width: 50%;
  padding: 16px 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #f1eeee;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #000;
  font-weight: 200;
}

.el-stat-label {
  width: 50%;
  padding: 16px 12px;
  border-width: 1px;
  border-color: #007afd;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: #f1eeee;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #000;
}

.el-col-up {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.el-xyz-box {
  overflow: scroll;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.el-xyz-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33.333333333333336%;
  padding: 16px 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-width: 1px;
  border-color: #007afd;
  background-color: #f1eeee;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #000;
  font-weight: 600;
}

.el-xyz-val {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 33.333333333333336%;
  padding: 16px 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #f1eeee;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #000;
  font-weight: 200;
}

.viz-toggle {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  border: 1px solid #007afd;
  border-radius: 1px;
}

.viz-toggle-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f1eeee;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #000;
  text-decoration: none;
}

.viz-toggle-link.viz-link-active {
  background-color: #000;
  color: #f1eeee;
  font-weight: 600;
}

.viz-toggle-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #007afd;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #000;
  text-decoration: none;
}

.el-header {
  position: absolute;
  left: 0%;
  top: 48px;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  background-color: #f1eeee;
}

.el-header-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 48px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tab-content {
  height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.input-wrapper{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'IBM Plex Sans', sans-serif;
  visibility: hidden;
}

#userLimit {
  height: 53px;
  margin-left: 12px;
  margin-right:24px;
  border-color: #fefefe;
  padding: 12px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

@media (max-width: 991px) {
  .legend-text{
    font-size: 10px;
  }
  .pcc-box{
    width : 15%;
  }
  .periodic-table {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 756px;
    min-width: 756px;
    margin-right: 32px;
    margin-left: 32px;
  }
  .row-1 {
    width: 100%;
  }
  .element {
    width: 42px;
    min-width: 42px;
  }
  .element-abbr {
    font-size: 18px;
    line-height: 24px;
  }
  .row-2 {
    width: 100%;
  }
  .row-3 {
    width: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .full-row {
    width: 100%;
  }
  .blank-element {
    min-width: 42px;
  }
  .right-row {
    width: 100%;
  }
  .info-top {
    left: 120px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 420px;
    padding-left: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .h1 {
    margin-top: 6vh;
    font-size: 3.2vw;
    line-height: 5vw;
  }
  .use-desktop {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: none;
    width: 100vw;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
  }
  .use-desktop-text {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3vw;
    line-height: 4vw;
    text-align: center;
  }
  .use-desktop-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 48px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .blue-link-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    height: 10vh;
    margin-right: 24px;
    margin-left: 24px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #007afd;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #007afd;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
  }
  .blue-link-box-full {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    height: 10vh;
    margin-right: 24px;
    margin-left: 24px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #007afd;
    background-color: #007afd;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
  }
  .nav {
    z-index: 100;
    padding-right: 8px;
    padding-left: 8px;
    background-color: #ffffff;
  }
  .text-links {
    padding-right: 8px;
    padding-left: 8px;
    font-size: 12px;
  }
  .text-link-icon {
    width: 8px;
    height: 8px;
  }
  .header-sub {
    font-size: 2vw;
  }
  .col-numbers {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .num-box {
    width: 42px;
    min-width: 42px;
  }
  .element-grid {
    height: auto;
    padding-top: 180px;
  }
  .el-visual {
    height: 60vh;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .el-lib-links:hover {
    border-color: #007afd;
    background-color: #007afd;
    color: #f1eeee;
  }
  .el-header {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .el-header-label {
    width: 100%;
    height: 36px;
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  #userLimit {
    width: 100% !important;
    }
    .h1 {
    font-size: 24px;
    line-height: 32px;
  }
  .use-desktop {
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .use-desktop-text {
    padding-right: 16px;
    padding-left: 16px;
    font-size: 24px;
    line-height: 36px;
  }
  .blue-link-box {
    height: 80px;
    margin-right: 8px;
    margin-left: 8px;
  }
  .blue-link-box-full {
    height: 80px;
    margin-right: 8px;
    margin-left: 8px;
  }
  .text-links {
    font-size: 8px;
    line-height: 12px;
  }
  .header-sub {
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: 479px) {
  .use-desktop-text {
    font-size: 16px;
    line-height: 24px;
  }
  .use-desktop-links {
    margin-top: 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .blue-link-box {
    margin-top: 16px;
  }
  .text-link-icon {
    margin-right: 4px;
    margin-left: 4px;
  }
}
